

<div class="container-fluid feature">
  <div
  style="background: url('../../../assets/Testimonials\ \(1\).png')
      no-repeat center;background-size: cover;height: 400px;margin-top: 10px;">
  </div>

  </div>

  <div class="container-fluid feature1">

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img class="signIn" src="../../../assets/Frame 1102.png" height="430px" width="300px;" style="margin-top: 40px;" >
      </div>
    </div>

    </div>
