



<div class="container-fluid feature">
  <div
  style="background: url('../../../assets/End.png')
      no-repeat center;background-size: cover;height: 500px;margin-top: 30px;">
  </div>

  </div>

  <div class="container-fluid feature1">

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img class="signIn" src="../../../assets/Frame 1100.png" height="330px" width="300px;" style="margin-top: 40px;" >
      </div>
    </div>

    </div>
