

<div class="container-fluid feature">
<div
style="background: url('../../../assets/Feature1.png')
    no-repeat center;background-size: cover;height: 600px;margin-top: 60px;">
</div>

</div>


<div class="container-fluid feature1">

  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <img class="signIn" src="../../../assets/Group 124.png" height="430px" width="300px;" style="margin-top: 90px;" >
    </div>
  </div>

  </div>


  <div class="container-fluid feature1">

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img class="signIn" src="../../../assets/Group 125.png" height="430px" width="300px;" style="margin-top: 90px;" >
      </div>
    </div>

    </div>


<div class="container-fluid feature1">

  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <img class="signIn" src="../../../assets/Group 126.png" height="430px" width="300px;" style="margin-top: 90px;" >
    </div>
  </div>

  </div>


<div class="container-fluid feature1">

  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <img class="signIn" src="../../../assets/Group 127.png" height="430px" width="300px;" style="margin-top: 90px;" >
    </div>
  </div>

  </div>

  <div class="container-fluid feature1">

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <img class="signIn" src="../../../assets/Frame 1098.png" height="430px" width="300px;" style="margin-top: 90px;" >
      </div>
    </div>

    </div>

<div class="container-fluid feature" >
  <div
  style="background: url('../../../assets/Testimonials.png')
      no-repeat center;background-size: cover;height: 400px;margin-top: 10px;">
  </div>

  </div>
