<nav class="navbar navbar-expand-lg fixed-top" style="background-color: white;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color:tomato" href="#" class="mLeft"><img src="../../../assets/HobbyCue Logo.png" width="150px"></a>&nbsp;<img class="searchImg" src="../../../assets/icons8_search 1.png" width="30px"><img class="searchImg" src="../../../assets/notifications_black_24dp 1.png" width="30px">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Go to</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item" style="margin-right: 100px;">
            <a class="nav-link active mx-lg-2" aria-current="page" href="#"><img src="../../../assets/SearchBox.png" width="200px"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../../assets/Group 2.png" width="100px">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">People-community</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Places-venues</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Programs-events</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Products-stores</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#about"><img src="../../../assets/Group 3.png" width="100px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#education"><img src="../../../assets/bookmark_black_24dp 1.png" width="20px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2"
             href="#experience"><img src="../../../assets/notifications_black_24dp 1.png" width="20px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#skill"><img src="../../../assets/Product 3.png" width="20px"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2" href="#projects"><img src="../../../assets/Group 71.png" width="100px"></a>
          </li>


        </ul>

      </div>
    </div>
  </div>
</nav>


<div class="container-fluid"
      style="background: url('../../../assets/Rectangle\ 84.png')
          no-repeat center;background-size: cover;height: 530px;">
        <div class="row">
          <div  class="col-lg-8 col-12 d-flex justify-content-center align-items-center ">
          <img class="deskImg" src="../../../assets/Group 1250.png" height="430px" width="700px;" style="margin-top: 90px;" >

          <img class="mobImg" src="../../../assets/Frame 1097.png" height="470px" width="100%" style="margin-top: 60px;" >
          </div>
          <div class="col-lg-4">
            <img class="signIn" src="../../../assets/Sign In Form.png" height="430px" width="300px;" style="margin-top: 90px;" >
          </div>
        </div>
    </div>
